[submodule "Extern/glm"]
	path = Extern/glm
	url = git@github.com:g-truc/glm
[submodule "Extern/tetgen"]
	path = Extern/tetgen
	url = git@github.com:libigl/tetgen
[submodule "Extern/parallel-hashmap"]
	path = Extern/parallel-hashmap
	url = git@github.com:greg7mdp/parallel-hashmap
[submodule "Extern/eigen"]
	path = Extern/eigen
	url = git@github.com:nithinp7/eigen.git
